.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--footer-bg-color);
    padding: 40px 16px;
}

.footer-content {
    width: 100%;
    margin-bottom: 16px;
}

.footer-social {
    padding: 0 30px;
    margin-bottom: 30px;
}

.footer-social_title {
    margin: 22px 0 20px 0;
}

.footer-social_items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.footer-help_center {
    background: var(--content-bg-color);
    padding: 24px 18px;
    border-radius: var(--bg-border-radius);
}

.footer-help_center--get_answer {
    background: #3555FF;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    width: 116px;
    height: 34px;
}


.footer-help_center--title:first-child {
    font-size: 25px;
    font-weight: 500;
}

.footer-help_center--title:nth-child(1) {
    font-size: 15px;
}

.footer-device--item_wrapper {
    margin: 0 -0.25rem
}

.footer-device_item {
    padding: 6px 0;
    background-color: var(--content-bg-color);
    border-radius: var(--bg-border-radius);
}

.footer-device_item > span {
    font-weight: var(--font-weight-bold);
}

@media only screen and (min-width: 769px) {
    .footer {
        padding: 60px 240px;
        flex-direction: row;
    }

    .footer-content {
        padding: 0 20px;
        width: 20%;
    }

    .footer-help_center {
        padding: 0;
        background: none;

    }

    .footer-help_center > * {
        width: 100%;
    }

    .footer-social {
        padding: 0;
    }

    .footer-social_items {
        width: 100%;
        justify-content: space-between;
    }

    .footer-device_item {
        flex-direction: column;
    }

    .footer-device_item .content-wrapper {
        text-align: center;
    }

    .footer-device_item > span {
        font-weight: var(--font-weight-normal);
    }

    .footer-device-sub-item {
        font-weight: var(--font-weight-bold);
        background: var(--content-bg-color);
        border-radius: var(--bg-border-radius);
        padding: 8px;
    }
}